amqp==5.3.1
asgiref==3.11.1
bcrypt==5.0.0
billiard==4.2.4
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
channels==4.3.2
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==48.0.0
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
httplib2==0.31.2
idna==3.16
kombu==5.6.2
oauthlib==3.3.1
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
PyJWT==2.13.0
pymongo==4.17.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==7.4.0
requests==2.34.2
requests-oauthlib==2.0.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.7.0
